<!DOCTYPE html>
<html>
<head>
    <title>Graphique des Commits</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            // Convertir les données du serveur en format utilisable par Google Charts
            // Exemple : var data = google.visualization.arrayToDataTable([['Minutes', 'Commits'], ...]);

            var options = {
                title: 'Commits par Minute',
                hAxis: {title: 'Minutes', minValue: 0, maxValue: 59},
                vAxis: {title: 'Nombre de Commits'},
                legend: 'none'
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
</body>
</html>

