<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Histogramme des Températures</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Jour', 'Température'],
          ['Jour 1', 22],
          ['Jour 2', 24],
          ['Jour 3', 19],
          // Ajoutez plus de données ici
        ]);

        var options = {
          title: 'Températures sur 16 jours à Paris',
          hAxis: {title: 'Jour',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
  </body>
</html>
